@import '../fonts/proxima-nova/proxima-nova';

body {
  font-family:
    'Proxima Nova',
    'Helvetica Neue',
    Helvetica,
    Arial,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
}

* {
  line-height: 110%;
}
