@import '@/assets/fonts/myriad-pro/myriad-pro';
@import '@/assets/fonts/proxima-nova/proxima-nova';
@import '@/assets/fonts/bebas-neue/bebas-neue';

body {
  font-family:
    'Myriad Pro',
    sans-serif;
  font-size: 14px;
}

* {
  line-height: 110%;
}
